* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}

.wrapper {
  display: grid;
  grid-template-areas: 'overlap';
  text-transform: uppercase;
  margin-bottom: 5%;
}
.wrappertext{
  background: linear-gradient(to right, rgb(244, 173, 50), rgb(55, 54, 54));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnim 2s ease alternate infinite;
}
@keyframes gradientAnim {
  to {
    background-position: 100% top;
  }
}

.wrapper>div {

  background-clip: text;
  -webkit-background-clip: text;
  color: #363833;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: clamp(3em, 6vw, 15rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}

div.bg {
  background-image: repeating-linear-gradient(105deg,
      var(--gold) 15%,
      var(--dark-shadow) 0%,
      var(--gold) 12%);
  color: transparent;
  transform: scaleY(1.05);
  transform-origin: top;
}

div.fg {
  background-image: repeating-linear-gradient(5deg,
      var(--gold) 0%,
      var(--light-shadow) 23%,
      var(--gold) 31%);
  color: #1e2127;
  transform: scale(1);
}


.full1 {
  height: 100%;
  padding: 7% 10% 10% 10%;
  background-image: url("../assets/Slice\ 14.png");
  background-position: 100%;
  background-size: cover;
  background-repeat: repeat;
}

.wrap {
  margin-top: -2%;
  margin-bottom: 1%;
}

.button1 {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: rgb(254, 194, 92);
  background: linear-gradient(to right, rgb(255, 189, 74), rgb(250, 230, 80));
  border: none;
  border-radius: 800px;
  box-shadow: 12px 12px 24px rgb(255, 189, 74);
  cursor: pointer;
  outline: none;
  position: relative;
  margin-top: 120px;
  padding: 10px;
}

.button1::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid rgb(255, 189, 74);
  box-shadow: 0 0 60px rgb(255, 189, 74);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button1:hover,
.button1:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button1:hover::before,
.button1:focus::before {
  opacity: 1;
}

.button1:hover::after,
.button1:focus::after {
  animation: none;
  display: none;
}


.button2 {
  min-width: 300px;
  min-height: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: rgb(254, 194, 92);
  background: linear-gradient(to right, rgb(255, 189, 74), rgb(250, 230, 80));
  border: none;
  border-radius: 800px;
  box-shadow: 12px 12px 24px rgb(255, 189, 74);
  cursor: pointer;
  outline: none;
  position: relative;
  margin-top: 120px;
  padding: 10px;
}

.button2::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid rgb(255, 189, 74);
  box-shadow: 0 0 60px rgb(255, 189, 74);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button2:hover,
.button2:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button2:hover::before,
.button2:focus::before {
  opacity: 1;
}

.button2:hover::after,
.button2:focus::after {
  animation: none;
  display: none;
}




.countdown-container {
  display: flex;
}

.big-text {
  font-size: 4rem;
  color: #ffb338;
  font-size: 80px;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.title {
  margin: 10px;
  text-align: center;
  color: #fff;
  width: 100%;
  letter-spacing: 2px;
  font-size: 3rem;
  line-height: 5.5rem;
}

.crapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.countdown-container>div {
  margin: 0 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #fff;
  min-width: 150px;
}

@media (max-width:767px) {
  .full1{
    height: 100vh;
  }
  .wrapper{
    margin-top: 10%;
  }
  .crapper {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .countdown-container {
    flex-wrap: wrap;
    margin-top: 25%;
  }
  .big-text
  {
    font-size: 40px;
  }
 
 
  .countdown-container>div {
    margin: 1rem auto;
    max-width: 100px;
  }

  .title {
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin: 10px 0px;
  }
  .button2{
    width: 100%;
  }
  
}